<div> 
  <input type="radio" name="productTypes" value="viewedProducts" templateData="popularProducts" /> Viewed Products
  <input type="radio" name="productTypes" value="addedToCartProducts" templateData="popularProducts" /> Added to Cart Products
  <input type="radio" name="productTypes" value="boughtProducts" templateData="popularProducts" /> Bought Products
  <br /><br />
  <label>How long in the past? (milliseconds)</label>
  <input type="number" placeholder="43800" value="" templateData="minutesHistory" />
  <br /><br />
  <label>How many products should be shown?</label>
  <input type="number" placeholder="5" value="" templateData="amountProducts" />
  <br /><br />
  <!--<input type="checkbox" value="" templateData="excludeUnavailable" /> Exclude Unavailable Products?
  <br /><br />-->
  <input type="text" placeholder="0,123,456" value="" templateData="excludeIDs" /> Exclude Products with IDs (comma-sepearated)
  <br /><br />
  <input type="text" placeholder="123456" value="" templateData="productClickGoal" /> Goal-ID Click on product
  <br /><br />
  <input type="text" placeholder="Pull me" value="" templateData="handleText" /> Handle Text
  <br /><br />
  <input type="number" placeholder="130" value="" templateData="productWidth" /> Product Width
</div>
