#productWidget { 
  max-height: 200px;
  position: fixed;
  bottom: 1em;
  right: 0;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  border-right-width: 0;
  font-size: 1em;
  font-family: inherit;
}

#productWidgetHandle span {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  display: block;
  white-space: nowrap;
}

#productWidgetHandle {
  background: #ccc;
  min-height: 200px;
  width: 25px;
  display: block;
  float: left;
  cursor: pointer;
  position: relative;
}

#productWidget .product strong {
  display: block;
}

#productWidget .product {
  padding: .5em;
  box-sizing: border-box;
  background: #fff;
  margin: 0 5px 5px 0;
  float: left;
  border: 1px solid #f0f0f0;
  min-height: 150px;
  text-align: center;
  position: relative;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
}

#productWidget .thumbImage {
  max-width: 100%;
}

#productWidget.expanded {
  margin-right: auto!important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
