<div id="form">
  <label for="flakeCount">Set the number of snowflakes</label> <input type="number" value="400" id="flakeCount" templateData="flakeCount" />
  <label for="color">Set the colors for the snow (RGB)</label> <input type="text" id="color" value="255,255,255" templateData="color" />
  <label for="distance">Set the distance to the mouse</label>  <input type="text" value="150" id="distance" templateData="distance" />
  <label for="opacity">Set the opacity</label> <input type="text" value="0.5" id="opacity" templateData="opacity" />
  <label for="speed">Set the speed of sinking (recommended values range from 0.3 to 2)</label>  <input type="text" value="0.5" id="speed" templateData="speed" />
  <label for="size">Set the maximum-size of your snowflakes</label> <input type="number" value="2" id="size" templateData="size" />
</div>
