<p>Please follow these two steps before using this widget:</p>
<ol>
  <li>Create a segment with current weather and/or weather forecast</li>
  <li>Use this segment in an A/B Test or personalization - otherwise the weather data will not be fetched</li>
</ol>

<strong>What kind of weather data should be shown?</strong><br />
<input type="radio" id="currentWeather" name="weatherType" value="currentWeather" templateData="weatherType" /> <label>Current Weather</label>
<input type="radio" id="forecastWeather" name="weatherType" value="forecastWeather" templateData="weatherType" /> <label>Weather Forecast</label><br /><br />

<label>How many days in the future should the weather be shown?</label>
<select templateData="daysInFuture">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select><br />
<label>What time should be considered for the forecast?</label>
<select templateData="timeOfDayInFuture">
  <option value="09:00:00">9:00</option>
  <option value="12:00:00">12:00</option>
  <option value="15:00:00">15:00</option>
  <option value="18:00:00">18:00</option>
  <option value="21:00:00">21:00</option>
</select><br /><br />

<input type="checkbox" id="showTemperature" name="showTemperature" value="showTemperature" templateData="showTemperature" /> <label for="showTemperature">Show Temperature</label><br /><br />
<input type="checkbox" id="showWeatherDescription" name="showWeatherDescription" value="showWeatherDescription" templateData="showWeatherDescription" /> <label for="showWeatherDescription">Show Weather Description</label><br />
<fieldset>
  <label for="textForecastBeforeDays">Text before amount of days</label> <input type="text" templateData="textForecastBeforeDays" id="textForecastBeforeDays" value="" placeholder="In" /><br />
  <label for="textForecastAfterDays">Text after amount of days</label> <input type="text" templateData="textForecastAfterDays" id="textForecastAfterDays" value="" placeholder="days it will be" /><br />
  <label for="textForecastAfterWeather">Text after weather condition</label> <input type="text" templateData="textForecastAfterWeather" id="textForecastAfterWeather" value="" placeholder="in your region" /><br />
  <input type="checkbox" id="showRegion" name="showRegion" value="showRegion" templateData="showRegion" /> <label for="showRegion">Show Weather Region</label><br />

  <br /><strong>Weatherlabels</strong><br />
  <label for="condition01">clear sky</label> <input type="text" templateData="condition01" id="condition01" name="condition01" value="" placeholder="clear sky" /><br />
  <label for="condition02">few clouds</label> <input type="text" templateData="condition02" id="condition02" name="condition02" value="" placeholder="few clouds" /><br />
  <label for="condition03">scattered clouds</label> <input type="text" templateData="condition03" id="condition03" name="condition03" value="" placeholder="scattered clouds" /><br />
  <label for="condition04">broken clouds</label> <input type="text" templateData="condition04" id="condition04" name="condition04" value="" placeholder="broken clouds" /><br />
  <label for="condition09">shower rain</label> <input type="text" templateData="condition09" id="condition09" name="condition09" value="" placeholder="shower rain" /><br />
  <label for="condition10">rain</label> <input type="text" templateData="condition10" id="condition10" name="condition10" value="" placeholder="rain" /><br />
  <label for="condition11">thunderstorm</label> <input type="text" templateData="condition11" id="condition11" name="condition11" value="" placeholder="thunderstorm" /><br />
  <label for="condition13">snow</label> <input type="text" templateData="condition13" id="condition13" name="condition13" value="" placeholder="snow" /><br />
  <label for="condition50">mist</label> <input type="text" templateData="condition50" id="condition50" name="condition50" value="" placeholder="mist" /><br /><br />
</fieldset>

<!-- Possible extensions: icon size, color/styles, icontype-->
<br /><br />
<small>In this widget there is being use made of <a href="https://openweathermap.org/weather-conditions">https://openweathermap.org/weather-conditions</a> and <a href="https://cssicon.space">https://cssicon.space</a></small>
