/* https://cssicon.space rocks! */

/* @todo: animate initial show widget, stable icon css for all 3 variations, variety of positions (top, bottom, left, right) */

#weatherWidget {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  background: #fff;
  opacity: .9;
  font: inherit;
  font-size: 1.2em;
  border-radius: 3em;
  min-height: 80px;
}

#weatherWidget .daysInFuture {
  margin: .2em 1em;
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
}

#weatherWidget .outerWeather {
  margin: 0 auto;
  width: 80px;
  position: relative;
  padding: 1em;
}

#weatherWidget .showTemperature {
  display: block;
  font-size: 1.5em;
  margin: 0 auto;
  padding: .5em;
}

#weatherWidget.description .daysInFuture {
  float: left;
}

#weatherWidget.description .outerWeather {
  margin: 0;
  float: left;
}

#weatherWidget.description .showTemperature {
  margin: 0;
  float: left;
}

#weatherWidget.temperature div.showTemperature:after {
  content: '°C';
}

#weatherWidget .weatherIcon {
  transform: scale(2);
  transform-origin: left top;
  opacity: .5;
}

.weatherIcon,
.weatherIcon:before,
.weatherIcon:after,
.weatherIcon i,
.weatherIcon i:before,
.weatherIcon i:after {
  transition: all 0.4s ease;
}

/*  clear sky */
.icon-01d {
    color: #000;
    position: absolute;
    margin-left: 6px;
    margin-top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid currentColor;
    box-shadow: -8px 0 0 -3px currentColor,  8px 0 0 -3px currentColor,  0 -8px 0 -3px currentColor,  0 8px 0 -3px currentColor,  -6px -6px 0 -3px currentColor,  -6px 6px 0 -3px currentColor,  6px -6px 0 -3px currentColor,  6px 6px 0 -3px currentColor;
  }

.icon-01n {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px transparent;
}

.icon-01n:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: solid 1px transparent;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px transparent;
}

/* broken clouds */
/* scattered clouds */
/* few clouds */
.icon-03d,
.icon-03n,
.icon-04d,
.icon-04n,
.icon-02d,
.icon-02n {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 9px;
  width: 5px;
  height: 6px;
  border-radius: 4px 0 0 4px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-03d:before,
.icon-03n:before,
.icon-04d:before,
.icon-04n:before,
.icon-02d:before,
.icon-02n:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.icon-03d:after,
.icon-03n:after,
.icon-04d:after,
.icon-04n:after,
.icon-02d:after,
.icon-02n:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 4px;
  width: 7px;
  height: 6px;
  border-bottom: solid 1px currentColor;
}

/* rain */
.icon-10d,
.icon-10n {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 9px;
  width: 5px;
  height: 6px;
  border-radius: 4px 0 0 4px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-10d:before,
.icon-10n:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-10d:after,
.icon-10n:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 2px;
  color: #fff;
  background-color: currentColor;
}

.icon-10d i,
.icon-10n i {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0 2px 2px 2px;
  background-color: currentColor;
  box-shadow: -1px -6px 0 0 currentColor;
  z-index: 2;
}

/* show rain */
.icon-09d,
.icon-09n {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 9px;
  width: 5px;
  height: 6px;
  border-radius: 4px 0 0 4px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-09d:before,
.icon-09n:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-09d:after,
.icon-09n:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 2px;
  color: #fff;
  background-color: currentColor;
}

.icon-09d i,
.icon-09n i {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 1px;
  height: 4px;
  background-color: currentColor;
  box-shadow: 3px -3px 0 0 currentColor, 3px -8px 0 0 currentColor, 0 -5px 0 0 currentColor;
  z-index: 2;
}

/* thunderstorm */
.icon-11d,
.icon-11n {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 9px;
  width: 5px;
  height: 6px;
  border-radius: 4px 0 0 4px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-11d:before,
.icon-11n:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-11d:after,
.icon-11n:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 2px;
  color: #fff;
  background-color: currentColor;
}

.icon-11d i,
.icon-11n i {
  position: absolute;
  left: 5px;
  top: 4px;
  z-index: 2;
}

.icon-11d i:before,
.icon-11n i:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 2px;
  width: 0;
  height: 0;
  border-right: solid 4px currentColor;
  border-top: solid 7px transparent;
}

.icon-11d i:after,
.icon-11n i:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 0;
  height: 0;
  border-left: solid 4px currentColor;
  border-bottom: solid 7px transparent;
}

/* snow */
.icon-13d,
.icon-13n {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 9px;
  width: 5px;
  height: 6px;
  border-radius: 4px 0 0 4px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-13d:before,
.icon-13n:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-13d:after,
.icon-13n:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 2px;
  color: #fff;
  background-color: currentColor;
}

.icon-13d i,
.icon-13n i {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: currentColor;
  box-shadow: 3px -2px 0 0 currentColor, 3px 1px 0 0 currentColor, 0 3px 0 0 currentColor;
  z-index: 2;
}

/* mist */
.icon-50d,
.icon-50n {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 6px;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.icon-50d:before,
.icon-50n:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 11px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}



/*
200 	thunderstorm with light rain 	11d
201 	thunderstorm with rain 	11d
202 	thunderstorm with heavy rain 	11d
210 	light thunderstorm 	11d
211 	thunderstorm 	11d
212 	heavy thunderstorm 	11d
221 	ragged thunderstorm 	11d
230 	thunderstorm with light drizzle 	11d
231 	thunderstorm with drizzle 	11d
232 	thunderstorm with heavy drizzle 	11d
300 	light intensity drizzle 	09d
301 	drizzle 	09d
302 	heavy intensity drizzle 	09d
310 	light intensity drizzle rain 	09d
311 	drizzle rain 	09d
312 	heavy intensity drizzle rain 	09d
313 	shower rain and drizzle 	09d
314 	heavy shower rain and drizzle 	09d
321 	shower drizzle 	09d
500 	light rain 	10d
501 	moderate rain 	10d
502 	heavy intensity rain 	10d
503 	very heavy rain 	10d
504 	extreme rain 	10d
511 	freezing rain 	13d
520 	light intensity shower rain 	09d
521 	shower rain 	09d
522 	heavy intensity shower rain 	09d
531 	ragged shower rain 	09d
600 	light snow 	13d
601 	snow 	13d
602 	heavy snow 	13d
611 	sleet 	13d
612 	shower sleet 	13d
615 	light rain and snow 	13d
616 	rain and snow 	13d
620 	light shower snow 	13d
621 	shower snow 	13d
622 	heavy shower snow 	13d
701 	mist 	50d
711 	smoke 	50d
721 	haze 	50d
731 	sand, dust whirls 	50d
741 	fog 	50d
751 	sand 	50d
761 	dust 	50d
762 	volcanic ash 	50d
771 	squalls 	50d
781 	tornado 	50d
800 	clear sky 	01d 01n
801 	few clouds 	02d 02n
802 	scattered clouds 	03d 03n
803 	broken clouds 	04d 04n
804 	overcast clouds 	04d 04n
*/
