<div id="musicForm">
  <label for="mp3">URL to MP3 File</label> <input type="text" templateData="mp3" id="mp3" name="mp3" placeholder="songtitel.mp3" /><br />
  <label for="ogg">URL to Ogg File</label> <input type="text" templateData="ogg" id="ogg" name="ogg" placeholder="songtitel.ogg" /><br /><br />
  <input type="checkbox" templateData="autostart" id="autostart" name="autostart" value="autostart" /> <label for="autostart">Should the sound start automatically?</label><br />
  <input type="checkbox" templateData="controls" id="controls" name="controls" value="controls" /> <label for="controls">Should the player have controls</label><br />
  <input type="checkbox" templateData="hidden" id="hidden" name="hidden" value="hidden" /> <label for="hidden">Should the player be hidden?</label>
</div>
