<div class="mousepointerWidget"> 
  <label>Idle Time (in seconds) until trigger</label><br />
  <input type="number" value="" placeholder="3" templateData="idleTime" /><br />

  <strong>On which actions should the idle time be resetted?</strong><br />
  <input type="checkbox" templateData="onmousemove" value="onmousemove" />  <label>onmousemove</label><br />
  <input type="checkbox" templateData="onkeypress" value="onkeypress" />  <label>onkeypress</label><br />
  <input type="checkbox" templateData="onmousedown" value="onmousedown" />  <label>onmousedown</label><br />
  <input type="checkbox" templateData="ontouchstart" value="ontouchstart" />  <label>ontouchstart</label><br />
  <input type="checkbox" templateData="onclick" value="onclick" />  <label>onclick</label><br />
  <input type="checkbox" templateData="onscroll" value="onscroll" />  <label>onscroll</label><br />
  <input type="checkbox" templateData="onkeypress" value="onkeypress" />  <label>onkeypress</label><br />

  <label>How often should the widget be shown at a maximum within a session?</label>
  <input type="number" value="" placeholder="3" templateData="showAmount" /><br />

  <br />
  <label>Animation</label><br />
  <select templateData="animation">
    <option value="wobble">wobble</option>
    <option value="tada">tada</option>
    <option value="pulse">pulse</option>
  </select><br />

  <label>Animation Speed</label><br />
  <select templateData="animationSpeed">
    <option value="normal">normal</option>
    <option value="fast">fast</option>
    <option value="faster">faster</option>
    <option value="slow">slow</option>
    <option value="slower">slower</option>
  </select><br />

  <label>Animation Delay</label><br />
  <select templateData="animationDelay">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br />

  <label>Animation Duration</label><br />
  <select templateData="animationDuration">
    <option value="oneTime">one time</option>
    <option value="infinite">infinite</option>
  </select><br />

  <label>Cursor</label><br />
  <select templateData="cursor">
    <option value="hand">hand</option>
    <option value="pointer">pointer</option>
  </select><br />

  <label>Cursor Farbe</label><br />
  <select templateData="cursorColor">
    <option value="black">black</option>
    <option value="white">white</option>
  </select><br />

  <label>Circle Color (hex code)</label><br />
  <input type="text" value="" placeholder="#ffffff" templateData="circleColor" /><br />

  <label>Circle Size (px)</label><br />
  <input type="text" value="" templateData="circleSize" placeholder="100" /><br />

  <input type="checkbox" templateData="lightbox" value="lightbox" />  <label>Darken Webpage</label>

</div>
