<div>
  <h2>Readingprogress</h2>
  <strong>Position</strong><br />
  <input type="radio" id="top" name="kamRPposition" value="top" templateData="kamRPposition" /> <label for="kamRPposition">Top</label>
  <input type="radio" id="bottom" name="kamRPposition" value="bottom" templateData="kamRPposition" /> <label for="kamRPposition">Bottom</label> <br />
  <br /><br />

  <strong>Styles</strong><br />
  <label for="kamRPheight">Height</label> <input templateData="kamRPheight" name="kamRPheight" id="kamRPheight" type="text" value="" placeholder="3" />px<br />
  <label for="kamRPcolor">Color (hex code)</label> <input templateData="kamRPcolor" name="kamRPcolor" id="kamRPcolor" type="text" value="" placeholder="#003f72" /><br />
  <label for="kamRPzIndex">zIndex</label> <input templateData="kamRPzIndex" name="kamRPzIndex" id="kamRPzIndex" type="number" value="" placeholder="9999" /><br />
  <br /><br />

  <strong>Direction</strong><br />
  <input type="radio" id="top" name="kamRPltr" value="ltr" templateData="kamRPltr" /> <label for="kamRPltr">Left to Right</label>
  <input type="radio" id="bottom" name="kamRPltr" value="rtl" templateData="kamRPltr" /> <label for="kamRPltr">Right to Left</label> <br />
  <br /><br />

  <strong>Percentage display (if no element will be chosen, no percentage will be shown)</strong><br />
  <label for="kamRPattach">Show scrolled percentage number in which element? (CSS Selektor)</label> <input templateData="kamRPattach" name="kamRPzIndex" id="kamRPattach" type="text" value="" placeholder="body" /><br />
  <input type="checkbox" name="kamRPround" value="kamRPround" id="kamRPround" templateData="kamRPround" /> <label for="kamRPround">Round decimal numbers</label> <br />
  <input type="checkbox" name="kamRPnobar" value="kamRPnobar" id="kamRPnobar" templateData="kamRPnobar" /> <label for="kamRPnobar">Don't show bar, just Percentage</label> <br />
</div>
