<div id="pushWidgetForm">
  <p>It is recommended to read <a href="https://batch.com/doc/web/sdk-integration/initial-setup.html">the documentation</a>, in order to use the correct settings. </p>

  <br />
  <strong>Step 1</strong>
  <fieldset>
    <legend>batch.com configuration</legend>
    <p>Migrating between the two modes is not possible. You will have to collect the notification permission and tokens from scratch.</p>
    <input type="radio" templateData="sameOrigin" name="sameOrigin" id="securemode" value="" /> <label>Fully secure mode</label>
    <input type="radio" templateData="sameOrigin" name="sameOrigin" id="" value="unsecuremode" /> <label>HTTP mode (multiple subdomains/mixed content) </label><br />
    <label>URL of Service (leave empty if you are not sure)</label> <input type="text" templateData="urlservice" value="" placeholder="https://via.batch.com/v2/bootstrap.min.js" /><br />
    <label>apiKey:</label> <input type="text" placeholder="6B613822C4374A19A20EAA706040E09C" templateData="apiKey" value="" /><br />
    <label>subdomain:</label> <input type="text" placeholder="0123456789101112131415161718192021222324252627282930313233343536373839" templateData="subdomain" value="" /><br />
    <label>authKey:</label> <input type="text" placeholder="1.qR/ZBEm/6Akc9535IBoRZpMxdjNgMHrwI7E7iy65ySQ=" templateData="authKey" value="" /><br />
    <label>vapidPublicKey: </label> <input type="text" placeholder="BIbAaK+0yCrW3RU0r19qc6/Ki+3eqdeMySRRLwXceL2G38ZF5D9QeaL9T3e2qRBui1xnhHl2S5skfsKJvlPiXy4=" templateData="vapidPublicKey" value="" /><br />
    <input type="checkbox" value="" name="development" templateData="development" /> <label>Development environment (don't check this in productive mode)</label><br />
  </fieldset>

  <br />
  <strong>Step 2</strong>
  <fieldset>
    <legend>Service Worker Integration</legend>
    <p>In order to use push notification, a service worker is necessary. The subscription won't work without this step. You need to upload the service worker to your website<br />
      Download the script here: <a href="https://batch.com/download/web" target="blank">https://batch.com/download/web</a></p>
      <p>The downloaded file should be placed in the root of the website. For example, for a website that you'd access at https://batch.com, this is how it should look: https://batch.com/batchsdk-worker-loader.js</p>
      <p>Read more about <a href="https://batch.com/doc/web/sdk-integration/initial-setup.html#_integrating-batch-with-an-existing-service-worker">integration with an existing service worker here</a>.</p>
    </fieldset>

    <br />
    <strong>Step 3</strong>
    <fieldset>
      <legend>Subscription Layout</legend>
      Default Icon (default push icon on Chrome): <input type="text" placeholder="https://secure.url.to.your.icon.png" /><br />
      Language: <select templateData="language"><option>de</option></select> <br />

      <input type="radio" templateData="layoutType" name="layoutType" id="button" value="" /> <label for="button">Button</label>
      <input type="radio" templateData="layoutType" name="layoutType" id="alert" value="" /> <label for="alert">Alert</label>
      <input type="radio" templateData="layoutType" name="layoutType" id="banner" value="" /> <label for="banner">Banner</label>

      <div id="buttonContent">
        <label>autoShow</label> <select><option>true</option><option>false</option><input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Whether the component should show as soon as possible, or if it should wait for a manual 'show' API call. Default: true</span>
          <br /><label for="buttoncorner">corner</label> <input type="text" value="" placeholder="bottom left" templateData="buttoncorner" /> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Corner to display the button in. Should be a mix of top|bottom and left|right.</span>
          <br /><label for="buttonhover">hover</label> <input type="text" value="" placeholder="Never miss an update !" templateData="buttonhover" />  <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Override the text that appears when hovering the button.</span>
          <br /><label>backgroundColor</label> #646464
          <br /><label>foregroundColor</label> #646464
          <br /><label>hoverColor</label>	#646464
          <br /><label>hoverForegroundColor</label> #646464
          <br /><strong>popin	</strong>
          <br /><label>title</label> <input type="text" name="popintitle"  templateData="popintitle" placeholder="Subscribe to notifications" />
          <br /><label>btnSub</label>  <input type="text" name="popinbtnSub"  templateData="popinbtnSub" placeholder="Subscribe" />
          <br /><label>btnUnsub</label>   <input type="text" name="popinbtnUnsub"  templateData="popinbtnUnsub" placeholder="Unsubscribe" />
          <br /><label>zIndex</label> <input type="number" placeholder="999" /> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">z-index of the component</span>
          <fieldset>
            <strong>example</strong>
          corner: 'bottom left',
          popin: {
            example: {
              icon: 'https://path/to/your/icon.jpg',
              title: 'Test title',
              body: 'Test body'
            }
          }
        </fieldset>
        </div>
        <div id="alertContent">
          <label>autoShow</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Whether the component should show as soon as possible, or if it should wait for a manual 'show' API call. Default: true</span> <input type="checkbox" name="alertautoShow" templateData="alertautoShow" value="" />
          <br /><label>attach</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Where to attach the alert. Should be a mix of top|bottom and left|center|right.</span> <input type="text" name="alertattach" templateData="alertattach" placeholder="bottom left" />
          <br /><label>icon</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Link to a square icon representing your website, which will show up on the left of the banner. The file must be a PNG or JPG image hosted on an HTTPS server.</span> <input type="text" name="alerticon" templateData="alerticon" />
          <br /><label>text</label> <input type="text" name="alerttext" templateData="alerttext" /> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Overrides the text that's displayed in the banner.</span>
          <br /><label>backgroundColor</label> <input type="text" name="alertbackgroundColor" templateData="alertbackgroundColor" placeholder="#646464" />
          <br /><label>textColor</label> <input type="text" name="alerttextColor" templateData="alerttextColor" placeholder="#646464" />
          <br /><label>fontSize</label> <input type="number" name="alertfontSize" templateData="alertfontSize" placeholder="12" />
          <br /><label>fontFamily</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Overrides the font used in the banner. Works exactly like CSS' font-family attribute.</span> <input type="text" name="alertfontFamily" templateData="alertfontFamily" placeholder="helvetica" />
          <br /><label>btnBackgroundColor</label> <input type="text" name="alertbtnBackgroundColor" templateData="alertbtnBackgroundColor" placeholder="#646464" />
          <br /><label>btnTextColor</label> <input type="text" name="alertbtnTextColor" templateData="alertbtnTextColor" placeholder="#646464" />
          <br /><label>btnHoverColor</label> <input type="text" name="alertbtnHoverColor" templateData="alertbtnHoverColor" placeholder="#646464" />
          <br /><label>btnFontSize</label> <input type="number" name="alertbtnFontSize" templateData="alertbtnFontSize" placeholder="12" />
          <br /><label>positiveSubBtnLabel</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Text override for when the positive button will subscribe the user.</span> <input type="text" name="alertpositiveSubBtnLabel" templateData="alertpositiveSubBtnLabel" placeholder="Subscribe" />
          <br /><label>positiveUnsubBtnLabel</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Text override for when the positive button will unsubscribe the user.</span> <input type="text" name="alertpositiveUnsubBtnLabel" templateData="alertpositiveUnsubBtnLabel" placeholder="Unsubscribe" />
          <br /><label>negativeBtnLabel</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Text override for when the negative button, which hides for popup temporarily, until the delay in `hideFor` has been reached.</span> <input type="text" name="alertnegativeBtnLabel" templateData="alertnegativeBtnLabel" placeholder="Later" />
          <br />
          <fieldset class="subfieldset">
            <strong>positiveBtnStyle</strong> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Style configuration for the positive ("Subscribe"/"Unsubscribe") button. See below for more info about this object. Note: When in unsubcribe mode, this button will always have a red background color.</span>
            <br /><label>backgroundColor</label> <input type="text" name="alertpositiveBtnStylebackgroundColor" templateData="alertpositiveBtnStylebackgroundColor" placeholder="blue" />
            <br /><label>hoverBackgroundColor</label> <input type="text" name="alertpositiveBtnStylehoverBackgroundColor" templateData="alertpositiveBtnStylehoverBackgroundColor" placeholder="#646464" />
            <br /><label>textColor</label> <input type="text" name="alertpositiveBtnStyletextColor" templateData="alertpositiveBtnStyletextColor" placeholder="white" />
            <br /><label>fontSize</label> <input type="number" name="alertpositiveBtnStylefontSize" templateData="alertpositiveBtnStylefontSize" placeholder="25" />
            <br /><label>shadow</label> <input type="checkbox" name="alertpositiveBtnStyleshadow" templateData="alertpositiveBtnStyleshadow" value="" />
        </fieldset>
        <fieldset class="subfieldset">
          <br /><strong>negativeBtnStyle</strong> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Style configuration for the negative ("Later") button. See below for more info about this object.</span>
            <br /><label>backgroundColor</label> <input type="text" name="alertnegativeBtnStylebackgroundColor" templateData="alertnegativeBtnStylebackgroundColor" value="blue" />
            <br /><label>hoverBackgroundColor</label> <input type="text" name="alertnegativeBtnStylehoverBackgroundColor" templateData="alertnegativeBtnStylehoverBackgroundColor" value="#646464" />
            <br /><label>textColor</label> <input type="text" name="alertnegativeBtnStyletextColor" templateData="alertnegativeBtnStyletextColor" value="white" />
            <br /><label>fontSize</label> <input type="number" name="alertnegativeBtnStylefontSize" templateData="alertnegativeBtnStylefontSize" value="25" />
            <br /><label>shadow</label> <input type="checkbox" name="alertnegativeBtnStyleshadow" templateData="alertnegativeBtnStyleshadow" value="" />
        </fieldset>
          <br /><label>hideFor</label> <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">When closed, do not display the banner again until X seconds elapsed (default: 604800 or 7 days). Use a 0 value to hide the alert forever.</span> <input type="number" name="alerthideFor" templateData="alerthideFor" value="604800" />
          <br /><label>zIndex</label> <input type="number" name="alertzIndex" templateData="alertzIndex" value="999" />
        </div>
        <div id="bannerContent">
          autoShow false <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Whether the component should show as soon as possible, or if it should wait for a manual 'show' API call. Default: true</span>
          <br />icon <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Link to a square icon representing your website, which will show up on the left of the banner. The file must be a PNG or JPG image hosted on an HTTPS server.</span>
          <br />text Never miss an update !
          <br />fixed	false <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Makes the banner push the webpage's content rather than float on top of it (default: False).</span>
          <br />attachBottom true <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Makes the banner show on the bottom of the page, rather than on top. Forces 'fixed' to true (default: False).</span>
          <br />backgroundColor	#646464
          <br />textColor #646464
          <br />fontSize 12 <input type="checkbox" name="togglehint" class="togglehint" /><span class="hint">Overrides the font used in the banner. Works exactly like CSS' font-family attribute.</span>
          E.g.{"fontFamily":"helvetica"}
          btnBackgroundColor	Hex Color String - Optional
          Color of the button's background.
          E.g.{"btnBackgroundColor":"#646464"}
          btnTextColor	Hex Color String - Optional
          Color of the button's text.
          E.g.{"btnTextColor":"#646464"}
          btnHoverColor	Hex Color String - Optional
          Color of the button's hover state.
          E.g.{"btnHoverColor":"#646464"}
          btnFontSize	Integer - Optional
          Button's font size. Unitless.
          E.g.{"btnFontSize":"12"}
          btnWidth	Integer - Optional
          Button width. Unitless.
          E.g.{"btnWidth":"200"}
          btnSub	String - Optional
          Text override for when the button will subscribe the user.
          E.g.{"btnSub":"Subscribe"}
          btnUnsub	String - Optional
          Text override for when the button will unsubscribe the user.
          E.g.{"btnUnsub":"Unsubscribe"}
          hideFor	Integer - Optional
          When closed, do not display the banner again until X seconds elapsed (default: 604800 or 7 days). Use a 0 value to hide the banner forever.
          E.g.{"hideFor":604800}
          zIndex	Integer - Optional
          z-index of the component
          E.g.{"zIndex":999}
        </div>
      </fieldset>
    </div>
