<div id="npsConfiguration">
<p class="attention">Before using this widget, it is mandatory to create two CustomDatas, in order to gather any results. <br />First custom data: NPSWidget (Integer)<br /> Second custom data: NPScomments (String)</p>
<fieldset>
  <legend>Layout</legend>
  <strong>Position:</strong><br />
  <input type="radio" id="top" name="position" value="top" templateData="position" /> <label for="position">Top</label>
  <input type="radio" id="bottom" name="position" value="bottom" templateData="position" /> <label for="position">Bottom</label> <br />
  <strong>Behaviour:</strong><br />
  <input type="checkbox" name="sticky" value="sticky" id="sticky" templateData="sticky" /> <label for="sticky">Sticky</label> <br />
  <strong>Layout:</strong><br />
  <label for="theme">Theme</label> <select name="theme" id="theme" templateData="theme"><option value="light">Light</option><option value="dark">Dark</option></select><br />
  <label for="customCSS">Custom CSS</label> <textarea id="customCSS" name="customCSS" templateData="customCSS">#kWidget {}</textarea>
  <input type="checkbox" name="showsmileys" value="showsmileys" id="showsmileys" templateData="showsmileys" /> <label for="showsmileys">Show smileys</label> <br />
</fieldset>
<fieldset>
  <legend>NPS Configuration</legend>
  <strong>First Question:</strong><br />
  <label for="question">Question</label> <input  templateData="question" name="question" id="question" type="text" value="" placeholder="Wie wahrscheinlich ist es, dass Sie uns einem Freund weiterempfehlen?" /><br />
  <label for="leastlikely">Label Least Likely</label> <input templateData="leastlikely" name="leastlikely" id="leastlikely" type="text" value="" placeholder="überhaupt nicht wahrscheinlich" /><br />
  <label for="mostlikely">Label Most Likely</label> <input templateData="mostlikely" name="mostlikely" id="mostlikely" type="text" value="" placeholder="sehr wahrscheinlich" /><br />
    <strong>Second Question:</strong><br />
  <input type="checkbox" templateData="additionalstep" name="additionalstep" value="additionalstep" id="additionalstep" /> <label for="additionalstep">Should an additional question follow?</label> <br />
  <div id="secondquestionblock">
    <label for="secondquestion">Second Question</label> <input type="text" templateData="secondquestion" id="secondquestion" name="secondquestion" value="" placeholder="Gerne würden wir erfahren, was Sie zur abgegebenen Bewertung bewogen hat - wir freuen uns auf Ihr Feedback" /><br />
    <label for="placeholderSecondQuestion">Placeholder in Textarea</label> <input type="text" templateData="placeholderSecondQuestion" id="placeholderSecondQuestion" name="placeholderSecondQuestion" value="" placeholder="Weiteres Feedback zu Ihrer Bewertung eintragen ..." /><br />
    <label for="timeout">Timeout until second question in milliseconds</label> <input id="timeout" name="timeout" type="number" placeholder="1000" value="" templateData="timeout" /><br />
    <label for="conversionAfterSecondSubmit">Conversion Goal after Second Submit</label> <input templateData="conversionAfterSecondSubmit"  name="conversionAfterSecondSubmit" id="conversionAfterSecondSubmit" type="number" value="" placeholder="99999" /><br />
    <label for="buttontext">Button Text</label> <input templateData="buttontext" name="buttontext" id="buttontext" type="text" value="" placeholder="Absenden" /><br />
  </div>
    <input type="checkbox" name="check" value="check" id="check" templateData="check" /> <label for="check">Show check in front of thank you text</label> <br />
  <label for="thankyoutext">Thank you text</label> <input templateData="thankyoutext" name="thankyoutext" id="thankyoutext" type="text" value="" placeholder="Danke für Ihre Bewertung" /><br />
    <label for="thankyoutimeout">Timeout how long thank you text is displayed in milliseconds</label> <input id="thankyoutimeout" name="thankyoutimeout" type="number" placeholder="1000" value="" templateData="thankyoutimeout" /><br />
  <strong>Conversion Goals:</strong><br />
  <label for="conversionAfterSubmit">Conversion Goal after Submit</label> <input templateData="conversionAfterSubmit"  name="conversionAfterSubmit" id="conversionAfterSubmit" type="number" value="" placeholder="99999" /><br />
  <label for="conversionAfterClose">Conversion Goal after Close</label> <input templateData="conversionAfterClose"  name="conversionAfterClose" id="conversionAfterClose" type="number" value="" placeholder="99999" /><br />
</fieldset>
</div>
