#npsConfiguration {
  display: block;
  font: inherit;
}

#npsConfiguration .attention {
background: #00a485;
  color: #fff;
  margin: 0 0 1em 0;
font-weight: 100;
font-size: 20px;
padding: 1em;
border: 0;
}

#example {
 width: 580px;
}

#npsConfiguration fieldset {
border: 0;
  padding: 0;
  margin: 0;
}

#npsConfiguration legend {
display: block;
  background: #2d2d2d;
color: #fff;
width: 100%;
padding: .2em .6em;
font-size: 1.1em;
font-weight: 200;
margin: 0 0 1em 0;
}

#npsConfiguration input[type=text],
#npsConfiguration textarea {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 0 1em 0;
}

#npsConfiguration label {
font-weight: 300;
margin: 0 1em 0 0;
}

#npsConfiguration input {
  margin: 0 0 1em 0;
}

#npsConfiguration input[type=text],
#npsConfiguration textarea {
  border: 1px solid #ccc;
  width: 100%;
}

#npsConfiguration #secondquestionblock {
  display: none;
}

#npsConfiguration input#additionalstep[type=checkbox]:checked~#secondquestionblock {
  display: block;
}
