<div id="titleForm">
<label id="title">Alternative Title:</label> <input type="text" id="title" name="title" templateData="title" placeholder="Still here for you ❤ ..." /><br />
<label id="title">Alternative Favicon:</label> <input type="text" id="favicon" name="favicon" templateData="favicon" placeholder="https://url-to-your-alternate-favicon.ico" /><br />
<input type="checkbox" value="keepOriginal" id="keepOriginal" templateData="keepOriginal" /> <label for="keepOriginal">Add current title as suffix?</label><br />
<input type="checkbox" value="letterByLetter" id="letterByLetter" templateData="letterByLetter" /> <label for="letterByLetter">Should the title be scrolled letter by letter</label><br />
<input type="checkbox" value="alternateTitle" id="alternateTitle" templateData="alternateTitle" /> <label for="alternateTitle">Alternate Title periodically</label><br />
<label for="changeInterval">Change interval in milliseconds</label> <input id="changeInterval" type="number" placeholder="1000" templateData="changeInterval" /><br />
</div>
